html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transform-style: preserve-3d;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
/*appear animation for pages*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}
.fade-in.one {
  -webkit-animation-delay: 0.05s;
  -moz-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.fade-in.two {
  padding: 20px 0px 20px 50px;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.fade-in.three {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
/*background images style*/
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
 .bgimg-1 {
   background-image: url('./img/first-bg-img.jpg');
   background-color: #0095b6;
   min-height: 100vh;
   transform-style: inherit;
   transform: translateY(-120px) scale(1.3);
   z-index: -1;
 }
 .bgimg-4 {
   background-image: url('./img/last-bg-img.jpg');
   min-height: 100vh;
   transform-style: inherit;
   transform: translateY(14px) scale(1.1);
   z-index: -1;
 }
 /*hide social media to show them in navbar for cell device*/
 .social-logos {
  display: none;
}
/*navbar style for cell device*/
.navbar-cell {
  position: absolute;
  height: 60px;
  z-index: 1;
  background-color: #fff;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  display: flex;
  float: left;
}
/*style for items in navbar for cellphone devices*/
.initial-logo-space {
  width: 8%;
}
.logo-space {
  width: 4%;
}
.bar-menu-space {
  width: 40%;
}
.instagram-logo-cell {
  margin-top: 10px;
  cursor: pointer;
  background-image: url('./img/instagram.png');
  overflow: visible;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 42px;
  font-size: 0;
}
.instagram-logo-cell:focus, .instagram-logo-cell:hover {
  outline: none;
  background-size: 45px;
  transition: 0.06s;
  box-shadow: 0 2px 4px rgba(0, 0, 1, .2);
}
.facebook-logo-cell {
  margin-top: 10px;
  cursor: pointer;
  background-image: url('./img/facebook.png');
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  font-size: 0;
}
.facebook-logo-cell:focus, .facebook-logo-cell:hover {
  outline: none;
  background-size: 45px;
  transition: 0.06s;
  box-shadow: 0 2px 4px rgba(0, 0, 1, .2);
}
.twitter-logo-cell {
  margin-top: 10px;
  cursor: pointer;
  background-image: url('./img/twitter.png');
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  font-size: 0;
}
.twitter-logo-cell:focus, .twitter-logo-cell:hover {
  outline: none;
  background-size: 45px;
  transition: 0.06s;
  box-shadow: 0 2px 4px rgba(0, 0, 1, .2);
}
.pinterest-logo-cell {
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url('./img/pinterest.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  font-size: 0;
}
.pinterest-logo-cell:focus, .pinterest-logo-cell:hover {
  outline: none;
  background-size: 45px;
  transition: 0.06s;
  box-shadow: 0 2px 4px rgba(0, 0, 1, .2);
}
/*burger menu button*/
.bar-menu-container {
  padding-right: 20px;
  cursor: pointer;
  display: inline-block;
  padding-left: 25px;
  padding-top: 13px;
}
.bar-menu-container:focus, .bar-menu-container:hover {
  outline: none;
  transition: 0.06s;
  box-shadow: 0 2px 4px rgba(0, 0, 1, .3);
}
.bar1, .bar2, .bar3 {
    position: initial;
    width: 30px;
    height: 3px;
    background-color: #ccc;
    margin: 6px 0;
    transition: 0.4s;
}
/*style for hide side menu*/
.my-sidebar {
  background-color: #36393d;
  min-height: 35vh;
  z-index: 1;
  position: absolute;
  transition: 0.4s;
  display: block;
  width: 100%;
  margin-top: -395px;
}
.w3-button {
  margin-top: 15px;
  padding-right: 12%;
  float: right;
  background-color: #36393d;
  color: #fff;
  border: none;
}
.w3-button:hover {
  cursor: pointer;
  color: #ccc;
}
.w3-button:focus {
  outline: none;
  cursor: pointer;
  color: #ccc;
}
.menu-items a {
  text-decoration: none;
}
.w3-bar-item {
  border: 0;
  background-color: transparent;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  width: 100%;
  display: block;
  height: 40px;
}
.w3-bar-item:hover, .w3-bar-item:focus {
  outline: none;
  cursor: pointer;
  background-color: #ddd;
  color: black;
  text-decoration: none;
  transition: 0.04s;
}
.item:hover {
  cursor: pointer;
  background-color: #ddd;
  color: black;
}
/*style for 1rst bg view on the main page*/
.caption-top {
     position: absolute;
     left: 0;
     top: 48%;
     width: 100%;
     text-align: center;
 }
 .logo-container {
   z-index: 1;
   position: relative;
   width: 100%;
 }
 .camera-logo {
   margin-left: calc((100% - 100px) * 0.5);
   transform: rotate(-30deg);
   margin-top: 310px;
   width: 150px;
   height: 150px;
   position: absolute;
   background-position: center;
   background-size: 150px;
   background-repeat: no-repeat;
   background-image: url('./img/camera_logo_png2.png');
 }
 .top-line-title {
   margin-top: 0;
   margin-left: calc((100% - 200px) * 0.5);
   border-bottom: 1px solid #fff;
   width: 200px;
}
 .caption-top span.title-logo {
   font-family: raleway;
   background-color: transparent;
   color: #fff;
   font-size: 35px;
   letter-spacing: 9px;
   padding-left: 25px;
   padding-right: 25px;
 }
 .under-title-logo {
   margin-top: 10px;
   color: #fff;
   letter-spacing: 15px;
 }
 /*Start button*/
 .start-button {
 margin-top: 20px;
 font-size: 12px;
 color: #fff;
 background-color: transparent;
 border: solid 1.5px white;
 border-radius: 20px;
 height: 30px;
 width: 85px;
 text-decoration: none;
}
.start-button:hover {
 font-size: 13px;
 outline: none;
 box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
 cursor: pointer;
 color: black;
 background-color: #fff;
 transition: 0.2s;
}
.start-button:focus {
 outline: none;
 box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
 color: black;
 background-color: #f1efef;
 cursor: pointer;
 transition: 0.2s;
}
/*style photographer info*/
.personal-info {
  margin-top: -10px;
  position: relative;
}
/*img-info*/
.personal-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./img/Zl1dnkAk.jpg');
  min-height: 50vh;
}
/*text info*/
.article-one {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 60px;
    text-align: justify;
}
.article-title {
    text-align: left;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 22px "Lato", sans-serif;
    color: #686868;
}
.under-line {
  width: 45px;
  border-bottom: 1px solid #5a5a5a;
}
p {
  font-size: 16px;
}
.book-online {
  font-size: 18px;
  color: #b2b2b2;
  margin-top: 25px;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  margin-right: 10px;
  margin-bottom: 20px;
}
.book-online:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #808080;
}
.book-online:focus {
  text-decoration: underline;
  outline: none;
  color: #808080;
}
/*style for 2nd bg view on the main page*/
.bgimg-2 {
    background-image: url('./img/moments.jpg');
    min-height: 600px;
}
.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}
.next-border {
  padding-top: 40px;
  background-color: transparent;
  font-size: 25px;
  color: #f7f7f7;
  padding-left: 70px;
  padding-right: 5px;
  letter-spacing: 5px;
}
.article-two {
  position: relative;
}
.article-title-two {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 22px "Lato", sans-serif;
  color: #fff;
}
/*style for galleria images*/
.article-text {
    color: #ddd;
    background-color: #66686a;
    padding: 15px 11px;
    text-align: justify;
}
 .column {
   overflow: hidden;
 }
 .exmpl-one, .exmpl-two, .exmpl-three, .exmpl-four, .exmpl-five, .exmpl-six {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 40vh;
 }
 .gal-title {
   color: #fff;
   font-size: 25px;
   margin-left: 18%;
   margin-top: -50px;
   position: absolute;
 }
 .exmpl-one {
   background-image: url('./img/newborn.jpg');
 }
 .exmpl-two {
   background-image: url('./img/model.jpg');
 }
 .exmpl-three {;
   background-image: url('./img/couple.jpg');
 }
 .exmpl-four {;
   background-image: url('./img/wedding-one.jpg');
 }
 .exmpl-five {;
   background-image: url('./img/pregnancy.jpg');
 }
 .exmpl-six {;
   background-image: url('./img/babies1.jpg');
 }
 .exmpl-two:hover, .exmpl-one:hover, .exmpl-three:hover,.exmpl-four:hover, .exmpl-five:hover,  .exmpl-six:hover {
   cursor: pointer;
   box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
   opacity: 0.65;
   transform: scale(1.1);
   transition: 0.4s;
 }
 .exmpl-two:focus, .exmpl-one:focus, .exmpl-three:focus,.exmpl-four:focus, .exmpl-five:focus,  .exmpl-six:focus {
   outline: none;
   box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
   opacity: 0.65;
   transform: scale(1.1);
   transition: 0.4s;
 }
 /*style for 3rd bg view on the main page*/
 .bgimg-3 {
     background-image: url('./img/camera.jpg');
     min-height: 400px;
 }
 .article-three {
     position: relative;
 }
 /*contact mesage section*/
 .msg-field {
   color: #777;
   background-color: white;
   text-align: center;
   padding: 50px 81px;
   text-align: justify;
 }
 .msg-title {
   text-align: left;
   letter-spacing: 5px;
   text-transform: uppercase;
   font: 20px "Lato", sans-serif;
   color: #686868;
 }
 .contact-info {
   margin-top: 30px;
 }
 .contact-info p{
   margin-top: -20px;
 }
 .msg-section-img {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url('./img/msg-section-img.jpg');
   min-height: 50vh;
 }
 .input-form {
   width: 100%;
   margin-top: 60px;
 }
 .input-field {
   margin-top: 20px;
 }
 .input-user {
   width: 98%;
   height: 25px;
 }
 .input-email {
   width: 98%;
   height: 25px;
 }
 .input-subject {
   width: 98%;
   height: 25px;
 }
 .input-msg {
   width: 98%;
   height: 55px;
 }
 .input-choice {
   width: 101%;
   height: 30px;
 }
 .send-button {
   margin-top: 5px;
   cursor: pointer;
   height: 30px;
   width: 100%;
   color: #fff;
   border: none;
   background-color: #686868;
 }
 .send-button:hover {
   cursor: pointer;
   color: #686868;
   border: none;
   background-color: #ccc;
   transition: 0.2s;
 }
 .send-button:focus {
   color: #686868;
   outline:  none;
   background-color: #ccc;
   transition: 0.2s;
 }
/*style for 4th bg view on the main page*/
 .last-article-title {
  background-color: transparent;
  color: #181818;
  font-size: 25px;
  letter-spacing: 10px;
 }
 .last-article-text p {
  padding: 15px 60px;
 }
 /*bookonline style for cellphine devices*/
 .bookonline:hover {
   cursor: pointer;
 }
 .bookonline:focus {
   outline: none;
 }
 .bookonline-container {
   margin-top: 0;
   text-align: center;
   padding: 0;
   transition: 0.4s;
 }
 .go-back-field {
   margin-left: 35px;
   display: flex;
   width: 50px;
 }
 .go-back {
   width: 40px;
   height: 40px;
   background-image: url('./img/arrow-back.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: 30px;
   font-size: 0;
   border-radius: 50%;
   transition: 0.3s;
 }
 .go-back:hover, .go-back:focus {
   outline: none;
   cursor: pointer;
   background-image: url('./img/arrow-back-onpointer.svg');
   background-color: #ddd;
   border-radius: 50%;
 }
 .go-back-text {
   margin-left: 5px;
   margin-top: 7px;
 }
 .set-appointment {
  padding: 25px;
  font-size: 17px;
  float: left;
  margin-left: 20px;
}
 .bookonline-field {
   padding-top: 25px;
 }
 .bookonline-session {
   padding: 0;
   border: none;
   background: #fff;
   text-align: center;
 }
 .bookonline-session:focus {
   outline: none;
 }
 .newborn-session-img, .studio-session-img, .couple-session-img {
   margin-left: 15px;
   margin-top: 50px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 40vh;
   width: 95vw;
 }
 .newborn-session-img {
   background-image: url('./img/newborn.jpg');
 }
 .studio-session-img {
   background-image: url('./img/model.jpg');
 }
 .couple-session-img {
   background-image: url('./img/couple.jpg');
 }
 .page-title {
   letter-spacing: 3px;
   font-size: 30px;
   padding-top: 130px;
 }
 .line-title {
   margin-top: 5px;
   margin-left: calc((100% - 46px) * 0.5);
   border-bottom: 1px solid #0a0a0a;
   width: 40px;
 }
 .session-title {
   font-size: 25px;
   letter-spacing: 1px;
 }
 .session-info {
   color: #484848;
   font-size: 16px;
   margin-top: 10px;
 }
 .time-info {
   letter-spacing: 2px;
 }
 .price-info {
   margin-top: 3px;
   letter-spacing: 2px;
 }
 .session-description {
   margin-left: 80px;
   margin-right: 80px;
   margin-top: 15px;
   margin-bottom: 25px;

   font-size: 14px;
 }
 .book-now {
   margin-left: 25%;
   margin-top: 20px;
   font-size: 16px;
   width: 50%;
   height: 45px;
   color: #fff;
   background-color: #36393d;
   border: none;
   cursor: pointer;
   transition: 0.3s;
 }
 .book-now:hover, .book-now:focus {
   background: #bcbbbb;
   color: #484848;
 }
 .book-now-text {
   padding-top: 15px;
 }
 .long-line {
   margin: 45px;
   border-bottom: 1px solid #cecece;
 }
 /*style for desktop devices*/
@media screen and (min-width:800px) {
  /*hide dropdown menu on desktop device*/
  .my-sidebar {
    display: none!important;
  }
  .navbar-cell {
    display: none;
  }
  /*nav bar style for desktop*/
  .navbar-desktop {
    display: block;
    height: 60px;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    transition: 0.3s;
  }
  .item {
    text-transform: uppercase;
    border: 0;
    background-color: transparent;
    float: left;
    display: block;
    color: #282E34;
    text-align: center;
    padding: 23px;
    text-decoration: none;
    font-size: 12px;
  }
  .topnav-right {
  float: right;
}
.item:hover {
  background-color: #c0c0c0;
  transition: 0.3s;
}
.item:focus {
  transition: 0.3s;
  background-color: #c0c0c0;
  outline: none;
}
/*style for social media in desktop devices*/
.social-logos {
    z-index: 1;
    position: fixed;
    display: block;
    margin-top: 250px;
    width: 80px;
  }
  .instagram-logo:hover, .facebook-logo:hover, .twitter-logo:hover, .pinterest-logo:hover {
    background-size: 54px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    transition: 0.2s;
  }
  .instagram-logo:focus, .facebook-logo:focus, .twitter-logo:focus, .pinterest-logo:focus {
    background-size: 54px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    transition: 0.2s;
    outline: none;
  }
  .instagram-logo, .facebook-logo, .twitter-logo, .pinterest-logo {
    margin-top: 10px;
    display: flex;
    width: 46px;
    margin-left: 30px;
    height: 46px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    font-size: 0;
  }
  .instagram-logo {
    background-image: url('./img/instagram.png');
  }
  .facebook-logo {
    background-image: url('./img/facebook.png');
  }
  .twitter-logo {
    background-image: url('./img/twitter.png');
  }
  .pinterest-logo {
    background-image: url('./img/pinterest.png');
  }
  /*camera logo image*/
  .camera-logo {
    margin-top: 350px;
    margin-left: calc((100% - 300px)* 0.5);
  }
  .caption-top {
  top: 450px;
}
/*style for personal info*/
.personal-info {
  display: flex;
}
.personal-img-field {
  width: 100%;
}
.personal-img {
  min-height: 50vh;
  width: 60%;
}
.article-one {
  padding: 50px 150px 0px 100px;
  width: 40%;
}
.article-title {
  font-size: 18px;
}
.next-border {
  font-size: 23px;
  padding-left: 70px;
  padding-right: 70px;
}
p {
  font-size: 12px;
}
.book-online {
  font-size: 14px;
}
/*style for galleria image session*/
.column {
  overflow: hidden;
    float: left;
    width: 33.33%;
    padding: 0px;
}
.row::after {
    width: 100%;
    content: "";
    clear: both;
    display: table;
}
.row-image {
  width: 33.3%;
}
/**/
.contact-field {
  display: flex;
}
.msg-field {
  width: 45%;
  padding: 50px 120px;
}
.msg-section-img {
  min-height: 25vh;
  width: 75%;
}
.send-button {
  margin-top: 20px;
  padding: 0;
  float: right;
  width: 120px;
}
.divisor {
  font-size: 12px;
}
/*last article in bg image*/
.last-article-text p {
 padding: 15px 200px;
}
/*bookonline style for desktop*/
.bookonline-field {
  padding-top: 0;
  width: 100%;
  display: flex;
  padding-left: 10px;
  padding-right: 0px;
}
.set-appointment {
  padding: 15px;
  font-size: 14px;
}
.go-back {
  background-size: 20px;
}
.bookonline-field a {
  margin-left: 10px;
}
.newborn-session-img, .studio-session-img, .couple-session-img {
  margin-left: 18px;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 25vh;
  width: 28vw;
}

.bookonline:hover {
  cursor: pointer;
  opacity: 0.70;
  transform: scale(1.03);
  transition: 0.4s;
  outline: none;
}
.bookonline:focus {
  outline: none;
  cursor: pointer;
  opacity: 0.70;
  transform: scale(1.03);
  transition: 0.4s;
}
.page-title {
  margin-top: 0;
  font-size: 28px;
}
.line-title {
  margin-top: 5px;
  margin-left: calc((100% - 46px) * 0.5);
  border-bottom: 1.5px solid #777;
  width: 40px;
}
.session-title {
  font-size: 20px;;
}
.session-info {
  width: 31vw;
  font-size: 14px;
}
.time-info {
  letter-spacing: 2px;
  font-size: 12px;
}
.price-info {
  margin-top: 3px;
  letter-spacing: 2px;
  font-size: 12px;
}
.session-description {
  overflow-y: scroll;
  height: 100px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 12px;
}
.book-now {
  width: 90%;
  margin-top: 10px;
  font-size: 14px;
  transition: 0.04s;
  margin-left: 15px;
  text-align: center;
}
.book-now:hover {
  outline: none;
  background: #36393d;
  color: #fff;
}
.book-now:focus {
  color: #36393d;
  background-color: #ddd;
}

.long-line {
  display: none;
}
}
